@model BookCave.Models.ViewModels.ProfileViewModel

<form asp-action="EditAccount" asp-controller="Account" class="form-horizontal" method="POST">
    <div class="form-group">
            <input type="text" autofocus="autofocus" class="form-control" asp-for="FirstName" placeholder="Enter your first name..." value="@Model.FirstName" />
    </div>
    <div class="form-group">
            <input type="text" autofocus="autofocus" class="form-control" asp-for="LastName" placeholder="Enter your last name..." value="@Model.LastName" />
    </div>
    <div class="form-group">
            <input type="text" autofocus="autofocus" class="form-control" asp-for="FavoriteBook" placeholder="Enter your favorite book..." value="@Model.FavoriteBook" />
    </div>
    <div class="form-group">
            <input type="text" autofocus="autofocus" class="form-control" asp-for="City" placeholder="Enter your city..." value="@Model.City" />
    </div>
    <div class="form-group">
            <input type="text" autofocus="autofocus" class="form-control" asp-for="Country" placeholder="Enter your country..." value="@Model.Country" />
    </div>
    <div class="form-group">
            <input type="text" autofocus="autofocus" class="form-control" asp-for="Address" placeholder="Enter your address..." value="@Model.Address" />
    </div>
    
    <div class="Image-choosing">
        <p>Select a new avatar if you would like to change it!</p> 
        @{string path = Model.Image;}
        <!--finding the image the user picked before -->
        <label class="avatar">
                <input type="radio" name="image" value="@Url.Content(path)" checked="checked" style="display:none" <img src="@Url.Content(path)" alt="Avatar" class="avatar">
        </label>
        <label class="avatar">
                <input type="radio" name="image" value="~/images/avatars/captain.png"> <img src="~/images/avatars/captain.png" alt="Avatar" class="avatar">
        </label>
        <label class="avatar">
                <input type="radio" name="image" value="~/images/avatars/detective.png"> <img src="~/images/avatars/detective.png" alt="Avatar" class="avatar">
        </label>
        <label class="avatar">
                <input type="radio" name="image" value="~/images/avatars/nun.png"> <img src="~/images/avatars/nun.png" alt="Avatar" class="avatar">
        </label>
        <label class="avatar">
                <input type="radio" name="image" value="~/images/avatars/waiter.png"> <img src="~/images/avatars/waiter.png" alt="Avatar" class="avatar">
        </label>
    </div>

<div class="form-group">
        <input type="submit" class="updateProfile" value="Update profile!"/>
    </div>
</form>
<a asp-area="" asp-controller="Account" asp-action="MyProfile">Go Back to profile</a>