@model Tuple<BookCave.Models.ViewModels.ProfileViewModel, BookCave.Models.ViewModels.OrderListViewModel>

@{

}

<div>
  You are signed in as: @Model.Item1.FirstName @Model.Item1.LastName
</div>

<div id="AccountInfo">
    <div id=name>
      First Name: @Model.Item1.FirstName <br/>
      Last Name:  @Model.Item1.LastName
    </div>
    <div id=address>
        Address: <@Model.Item1.Address 
            <div id=city>
              City: @Model.Item1.City 
            </div>
            <div id=country>
              Country: @Model.Item1.Country 
            </div>
    </div>
    <div id=email>
      Email: @Model.Item1.Email 
    </div>
</div>

<div id="cardInfo">
    <form asp-action="OverviewStep" asp-controller="Account" class="from-horizontal">
    <div class="form-group">
        <input type="text" asp-for="@Model.Item2.Address" class="form-control" placeholder="Enter a shipping address.."/>
    </div>

    <div class="form-group">
        <input type="text" asp-for="@Model.Item2.City" class="form-control" placeholder="Enter the city.."/>
    </div>

    <div class="form-group">
        <input type="text" asp-for="@Model.Item2.Country" class="form-control" placeholder="Enter the country.."/>
    </div>

    <div class="form-group">
        <input type="text" asp-for="@Model.Item2.PaymentInfo.CardNumber" class="form-control" placeholder="Enter credit card number.."/>
    </div>

    <div class="form-group">
        <input type="text" asp-for="@Model.Item2.PaymentInfo.Cvc" class="form-control" placeholder="Enter the CVC.."/>
    </div>

    <div class="form-group">
        <input type="text" asp-for="@Model.Item2.PaymentInfo.ExpiryMonth" class="form-control" placeholder="Enter expiration month.."/>
    </div>

    <div class="form-group">
        <input type="text" asp-for="@Model.Item2.PaymentInfo.ExpiryYear" class="form-control" placeholder="Enter expiration year.."/>
    </div>

    <div class="form-group">
        <button type="submit" class="FirstPaymentContinue">Continue</button>
    </div>
</form>
</div>

<button type="button">Cancel</button>