@model BookCave.Models.ViewModels.CheckoutViewModel

<h1>1. Payment details</h1>

<form asp-action="OverviewStep" asp-controller="Account" class="form-horizontal" method="POST">
    <div class="form-group">
            <input type="text" autofocus="autofocus" class="form-control" asp-for="FirstName" placeholder="Enter your first name..." value="@Model.FirstName" />
    </div>

    <div class="form-group">
            <input type="text" autofocus="autofocus" class="form-control" asp-for="LastName" placeholder="Enter your last name..." value="@Model.LastName" />
    </div>

    <div class="form-group">
            <input type="text" autofocus="autofocus" class="form-control" asp-for="City" placeholder="Enter your city..." value="@Model.City" />
    </div>

    <div class="form-group">
            <input type="text" autofocus="autofocus" class="form-control" asp-for="Country" placeholder="Enter your country..." value="@Model.Country" />
    </div>

    <div class="form-group">
            <input type="text" autofocus="autofocus" class="form-control" asp-for="Address" placeholder="Enter your address..." value="@Model.Address" />
    </div>

    <div class="form-group">
            <input type="email" autofocus="autofocus" class="form-control" asp-for="Email" placeholder="Enter your email..." value="@Model.Email" />
    </div>

    <div class="form-group">
            <input type="number" autofocus="autofocus" class="form-control" asp-for="CardNumber" placeholder="Enter your card number..." value="@Model.CardNumber" />
    </div>

    <div class="form-group">
            <input type="number" autofocus="autofocus" class="form-control" asp-for="Cvc" placeholder="Enter CVC number..." value="@Model.Cvc" />
    </div>

    <div class="form-group">
            <input type="number" autofocus="autofocus" class="form-control" asp-for="ExpiryYear" placeholder="Enter expiry year..." value="@Model.ExpiryYear" />
    </div>

    <div class="form-group">
            <input type="number" autofocus="autofocus" class="form-control" asp-for="ExpiryMonth" placeholder="Enter expiry month..." value="@Model.ExpiryMonth" />
    </div>

    <div class="form-group">
        <input type="submit" class="continuePayment" value="Continue"/>
    </div>
</form>
    
<a asp-area="" asp-controller="Account" asp-action="Cart">Cancel</a>
