@model BookCave.Models.ViewModels.ProfileViewModel

@{

}

<div id="MemberAccount">

    <!-- Image of member: -->
    <img src="" alt="Smiley face">

    <div id="Username">
        Username:  @Model.UserName
    </div>

    <div id="Name">
        Name: @Model.FirstName @Model.LastName
    </div>

    <div id="Address">
        Address:  @Model.Address
        <div id="City">
            City: @Model.City
        </div>
        <div id="Country">
            Country: @Model.Country
        </div>
    </div>

    <div id="Email">
        Email: @Model.Email
    </div>

    <div id="FavBook">
        Favorite Book: @Model.FavoriteBook
    </div>


    <!--ÞARF AÐ SKILGREINA HVERN BUTTON - VEIT BARA EKKI HVERNIG! SKAL SKOÐA BETUR -kv G -->
    <a asp-area="" asp-controller="Account" asp-action="EditAccount">Edit</a>

    <button type="button" class="DeleteAccountButton">Delete Account</button>

    <button type="button">Order History</button>
</div>