@model BookCave.Models.ViewModels.CheckoutViewModel


<h1>2. Order overview</h1>

<div id="overview">
    <div id=firstName>
      Name: @Model.FirstName @Model.LastName
    </div>
    <div id=address>
        Address: @Model.Address
            <div id=city>
              City: @Model.City
            </div>
            <div id=country>
              Country: @Model.Country
            </div>
    </div>
    <div id=cardNumber>
      Card Number: @Model.CardNumber
    </div>

    <div id="cvc">
      CVC: @Model.Cvc
    </div>

    <div id=expDate>
      Expiry Date: @Model.ExpiryMonth / @Model.ExpiryYear
    </div>
</div>

<div id="booksInCart">
  <h2>Books in Cart</h2>
</div>

<a asp-area="" asp-controller="Account" asp-action="Cart">Cancel</a>

<a asp-area="" asp-controller="Account" asp-action="FirstPaymentStep">Back</a>

<a asp-area="" asp-controller="Account" asp-action="ConfirmPay">Confirm</a>
