@model Tuple<BookCave.Models.ViewModels.CheckoutViewModel, List<BookCave.Models.ViewModels.BookListViewModel>>


<h1>2. Order overview</h1>

<div id="overview">
    <div id=firstName>
      Name: @Model.Item1.FirstName @Model.Item1.LastName
    </div>
    <div id=address>
        Address: @Model.Item1.Address
            <div id=city>
              City: @Model.Item1.City
            </div>
            <div id=country>
              Country: @Model.Item1.Country
            </div>
    </div>
    <div id=cardNumber>
      Card Number: @Model.Item1.CardNumber
    </div>

    <div id="cvc">
      CVC: @Model.Item1.Cvc
    </div>

    <div id=expDate>
      Expiry Date: @Model.Item1.ExpiryMonth / @Model.Item1.ExpiryYear
    </div>
</div>

<div id="booksInCart">
  <h2>Books in Cart</h2>
    @foreach(var book in Model.Item2)
    {
        <table id="overview" class="table table-hover table-condensed">
					<tbody>
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="~/images/books/(@book.BookId).jpg" alt="BookPhoto" class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin"><a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId" class="bookTitle">@book.Title</a> </h4>
									</div>
								</div>
							</td>
							<td data-th="Price">@book.Price</td>
							<td> Quantity: @book.Quantity </td>
						</tr>
					</tbody>
				</table>
    }

</div>

<a asp-area="" asp-controller="Account" asp-action="Cart">Cancel</a>

<a asp-area="" asp-controller="Account" asp-action="FirstPaymentStep">Back</a>

<a asp-area="" asp-controller="Account" asp-action="ConfirmPay">Confirm</a>
