@model Tuple<BookCave.Models.ViewModels.ProfileViewModel, BookCave.Models.ViewModels.OrderListViewModel>

@{

}

<h1>Order Overview</h1>

<div id="overview">
    <div id=firstName>
      Name: @Model.Item1.FirstName @Model.Item1.LastName
    </div>
    <div id=address>
        Address: @Model.Item1.Address
            <div id=city>
              City: @Model.Item1.City
            </div>
            <div id=country>
              Country: @Model.Item1.Country
            </div>
    </div>
    <div id=cardNumber>
      Card Number: @Model.Item2.PaymentInfo.CardNumber
    </div>

    <div id="cvc">
      CVC: @Model.Item2.PaymentInfo.Cvc
    </div>

    <div id=expDate>
      Expiry Date: @Model.Item2.PaymentInfo.ExpiryMonth / @Model.Item2.PaymentInfo.ExpiryYear
    </div>
</div>

<div id="booksInCart">
  <h2>Books in Cart</h2>
</div>

<button type="button" id="cancelCheckout">Cancel</button>

<button type="button" id="backToCart">Back</button>

<button type="button" id="continueCheckout2">Continue</button>