@{

}

<div id="MemberAccount">

    <!-- Image of member: -->
    <img src="smiley.gif" alt="Smiley face" height="42" width="42">

    <div id="Username">
        Username: <!-- @model.Username -->
    </div>

    <div id="Name">
        Name: <!-- @model.Name -->
    </div>

    <div id="Address">
        Address: <!-- @model.Address -->
        <div id="City">
            City: <!-- @model.City -->
        </div>
        <div id="Country">
            Country: <!-- @model.Country -->
        </div>
    </div>

    <div id="Email">
        Email: <!-- @model.Email -->
    </div>

    <div id="FavBook">
        Favorite Book: <!-- @model.FavBook -->
    </div>


    <!--ÞARF AÐ SKILGREINA HVERN BUTTON - VEIT BARA EKKI HVERNIG! SKAL SKOÐA BETUR -kv G -->
    <button type="button">Edit</button>

    <button type="button">Delete Account</button>

    <button type="button">Order History</button>

    <button type="button">Log Out</button>
</div>