@model List<BookCave.Models.ViewModels.OrderListViewModel>
@{

}
<!-- List of all books in cart: -->
<div id="booksInCart">
  <div>
       <!-- @foreach(var book in Model{-->
        <div class="OneItemInCart">
            <!-- Book Cover  -->
            <div>
                <!-- <img src="~/images/books/(@book.BookId).jpg" alt="@book.Title" class="bookCover">-->
            </div>
            <!-- Book info  -->
            <div class="BookInfo">
               <!-- <a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId" class="bookTitle">@book.Title</a> <br/>-->
                Genre: <!-- @book.Genre <br/>-->
                Author: <!-- @book.Author <br/>-->
               <p class="bookPrice"> <!--@book.Price Kr</p>-->
            </div>
            <div class="addToButtons">
                <button type="button" class="wishListButton"><i class="far fa-heart"></i></button>
            </div>
        </div>

        <div id="Price">
          Price: <!-- @Model.Price -->
        </div>

        <!-- SKOÐA BETUR ÞESSA SLÓÐ: https://css-tricks.com/number-increment-buttons/ :-->
        <div id="Quantity">
          <form method="post" action="">
              <label for="Quantity">Quantity</label>
              <input type="text" name="Quantity" id="quantiy-box" value="1">
          </form>
        </div>

        <div class="deleteButton">
            <button type="button"></button>
        </div>
      <!-- } -->
  </div>
</div>

<div id="cartSummery">

    <div id="totalBooksInCart">
      Total Books in Cart: <!-- @Model.TotalBooks -->
    </div>

    <div id="TotalPriceInCart">
      Total Price: <!-- @Model.TotalBooks -->
    </div>

    <button type="button" id="continueShoppingButton">Continue Shopping</button>
    <button type="button" id="checkoutButton">Checkout</button>
    
</div>