@{

}


<div id="AccountInfo">
    <div id=name>
      Name: <!-- @Model.Name --> 
    </div>
    <div id=address>
        Address: <!-- @Model.Address --> 
            <div id=city>
              City: <!-- @Model.City --> 
            </div>
            <div id=country>
              Country: <!-- @Model.Country --> 
            </div>
    </div>
    <div id=email>
      Email: <!-- @Model.Email --> 
    </div>
</div>

<div id="cardInfo">
    <form>
      <!-- ÁKVEÐA HVERNIG VIÐ VILJUM HAFA HÉR, MUNA EFTIR DISCOUNT!!-->
    </form>
</div>

<button type="button">Cancel</button>

<button type="button">Continue</button>