@model BookCave.Models.ViewModels.BookListViewModel

<div class="bookInfoDetails">
    <h2>@Model.Title</h2>
     <div>
        <img src="~/images/books/(@Model.BookId).jpg" alt="@Model.Title" class="bookCover">
    </div>
    <div class="BookDetailsInfo">
        Genre: @Model.Genre <br/>
        Author: @Model.Author <br/>
        About: <br/>
        @Model.About
        <br/>
    </div>
</div>

<div class="bookDetailsPayment">
    <p class="bookPrice">@Model.Price Kr</p>
    <div class="addToButtons">
        <button type="button" class="cartButton">Add to Cart</button>
        <br/>
        <button type="button" class="wishListButton"><i class="far fa-heart"></i></button>
    </div>
</div>