@model Tuple<BookCave.Models.ViewModels.BookListViewModel, BookCave.Models.ViewModels.ReviewListViewModel, List<BookCave.Models.ViewModels.ReviewListViewModel>>

@{
    ViewData["Title"] = "Details Page";
}

<!--  Printing the specific Book-->
<div class ="row">
    <h2>@Model.Item1.Title</h2>
    <div class="col-xs-6 col-lg-6">
        <!-- Book Cover  -->
        <div>
            <img src="~/images/books/(@Model.Item1.BookId).jpg" alt="@Model.Item1.Title" class="detailBookCover">
        </div>
    </div>
    <!-- Book info  -->
    <div class="col-xs-6 col-lg-6">
        Genre: @Model.Item1.Genre <br/>
        Author: @Model.Item1.Author <br/>
        About: <br/>
        @Model.Item1.About
        <br/>
        <!-- A loop to print out the rating in stars -->
        <h4><span>@Model.Item1.Price Kr</span></h4>
            @for(var i = Math.Round(@Model.Item1.Rating); i > 0; i--)
            {
                <i id="goldStar" class="fas fa-star"></i>
            }
            @for(var i = Math.Round(@Model.Item1.Rating); i < 5; i++)
            {
                <i id="blackStar" class="fas fa-star"></i>
            }
            <!-- Buttons to add to cart and wishlist -->
        <div class="addToButtons">
            <form asp-action="AddingToCart" asp-controller="Account" asp-route-id="@Model.Item1.BookId" method="POST">
                <button type="submit" class="cartButton">Add to Cart</button>
            </form>
            <br/>
            <form asp-action="AddToWishlist" asp-controller="Account" asp-route-id="@Model.Item1.BookId" method="POST">
                <button type="submit" class="wishListButton"><i class="far fa-heart"></i></button>
            </form>
        </div>
    </div>
</div>


<!-- To add a comment -->
<div class="col-xs-6 col-lg-6">
    <h4>Leave a Comment:</h4>

    <form method="post" asp-action="Details" asp-controller="Account" asp-route-id="@Model.Item1.BookId">
        <!-- Leave a rating: -->
        How did you like the book? Please leave a rating:
        <input type="radio" asp-for="@Model.Item2.Rating" name="rating" value='1'> 1
        <input type="radio" asp-for="@Model.Item2.Rating" name="rating" value='2'> 2
        <input type="radio" asp-for="@Model.Item2.Rating" name="rating" value='3'> 3
        <input type="radio" asp-for="@Model.Item2.Rating" name="rating" value='4'> 4
        <input type="radio" asp-for="@Model.Item2.Rating" name="rating" value='5'> 5
        <br>

        <!-- Leave a comment: -->
        <div class="form-group">
            <input type="text" asp-for="@Model.Item2.Comment" name="comment" class="form-control"/>
        </div>

        <!-- Submit rating and comment: -->
        <button type="submit" class="btn btn-success" value="Submit">Submit</button>
    </form>

    <br><br>
<!-- Print all the comments from users about a speific book -->
    <h4><small>RECENT POSTS</small></h4>
    <hr>
    <div class="ListOfComments">
        @foreach(var review in Model.Item3)
        {
            <div id="OneComment">
                Anonymous: @review.Comment <br/><br/>
                User gave this book the rating: @review.Rating
            </div>
            <hr>
        }
    </div>
</div>
