@model List<BookCave.Models.ViewModels.BookListViewModel>

@{
    ViewData["Title"] = "Book Page";
}

<h2 id="BooksTile">Books</h2>

<!--  Printing all Books
 -->

@using (Html.BeginForm("Index", "Book", FormMethod.Get))
                            {
                                @Html.DropDownList("test", new SelectList(
                                new List<Object>{ 
                                    new { value = 0 , text = "Red"  },
                                    new { value = 1 , text = "Blue" },
                                    new { value = 2 , text = "Green"}
                                },
                                "value",
                                "text",
                                0), 
                                new { onchange = "this.form.submit();" })
                                
                            }

<div class="books"> 
    @foreach(var book in Model.OrderByDescending(x=>x.Title).Take(10))
    {
        <div class="bookDiv">
            <!-- Book Cover  -->
            <div>
                <img src="~/images/books/(@book.BookId).jpg" alt="@book.Title" class="bookCover">
            </div>
            <!-- Book info  -->
            <div class="BookInfo">
                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId" class="bookTitle">@book.Title</a> <br/>
                Genre: @book.Genre <br/>
                Author: @book.Author <br/>
               <p class="bookPrice">@book.Price Kr</p>
            </div>
            <div class="addToButtons">
                <button type="button" class="cartButton">Add to Cart</button>
                <br/>
                <button type="button" class="wishListButton"><i class="far fa-heart"></i></button>
            </div>
        </div>
    }
</div>
