@model List<BookCave.Models.ViewModels.BookListViewModel>

@{
    ViewData["Title"] = "Book Page";
}

<h2 id="BooksTile">Books</h2>

<!--  Printing all Books
 -->
<div> 
    @foreach(var book in Model)
    {
        <div class="bookDiv">
            <!-- Book Cover  -->
            <div class="BookCover">
                <img src="~/images/books/(@book.BookId).jpg" alt="@book.Title">
            </div>
            <!-- Book info  -->
            <div class="BookInfo">
                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId">@book.Title</a>
                Genre: @book.Genre, 
                Rating: @book.Rating, 
                Author: @book.Author, 
                Price: @book.Price
            </div>
        </div>
    }
</div>
