@model List<BookCave.Models.ViewModels.BookListViewModel>

@{
    ViewData["Title"] = "Book Page";
}

<h2 id="BooksTile">Books</h2>

<!--  Printing all Books
 -->
<div class="books"> 
    @foreach(var book in Model)
    {
        <div class="bookDiv">
            <!-- Book Cover  -->
            <div>
                <img src="~/images/books/(@book.BookId).jpg" alt="@book.Title" class="bookCover">
            </div>
            <!-- Book info  -->
            <div class="BookInfo">
                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId">@book.Title</a> <br/>
                Genre: @book.Genre <br/>
                Author: @book.Author <br/>
               <p class="bookPrice">@book.Price Kr</p>
            </div>
            <div class="addToButtons">
                <button type="button" class="cartButton">Add to Cart</button>
                <br/>
                <button type="button" class="wishListButton">Add to WishList</button>
            </div>
        </div>
    }
</div>
