@model Tuple<List<BookCave.Models.ViewModels.BookListViewModel>,List<BookCave.Models.ViewModels.AuthorListViewModel>>

<h2 id="topBooksH2">TOP 10 BOOKS</h2>
<h2 id="topAuthorH2">TOP 10 AUTHORS</h2>

<div class="col-xs-6 col-lg-9">
    @foreach(var book in Model.Item1)
    {
        <div class="col-xs-6 col-lg-9">
        <hr>
            <div>
                <img src="~/images/books/(@book.BookId).jpg" alt="@book.Title" class="bookCover">
            </div>
            <div class="col-xs-6 col-lg-6">
                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId" class ="bookTitle">@book.Title</a> <br/>
                Genre: @book.Genre <br/>
                Author: @book.Author <br/>
                <p class="bookPrice">@book.Price Kr</p>
                @for(var i = Math.Round(@book.Rating); i > 0; i--)
                {
                    <i id="goldStar" class="fas fa-star"></i>
                }
                @for(var i = Math.Round(@book.Rating); i < 5; i++)
                {
                    <i id="blackStar" class="fas fa-star"></i>
                }
            </div>
            <div class="addToButtons">
                <form asp-action="AddingToCart" asp-controller="Account" asp-route-id="@book.BookId" method="POST">
                    <button type="submit" class="cartButton">Add to Cart</button>
                </form>
                <br/>
                <form asp-action="AddToWishlist" asp-controller="Account" asp-route-id="@book.BookId" method="POST">
                    <button type="submit" class="wishListButton"><i class="far fa-heart"></i></button>
                </form>
            </div>
        </div>
    }
</div>

<div id="list" width="25%">
        <ol>
        @foreach(var author in Model.Item2)
        {
            <a href="/Book/?genre=0&order=0&search=@author.Name">
            <div>
                <li>
                    <div>
                        <h3>@author.Name</h3>
                        <p>Rating: @(Math.Round(@author.Rating, 1))</p>
                    </div>
                </li>
            </div>
            </a>
        }
        </ol>
    
</div>