@model List<BookCave.Models.ViewModels.BookListViewModel>

<h2>TOP 10 BOOKS</h2>
<div>
    @foreach(var book in Model)
    {
        <div class="bookDiv">
            <div>
                <img src="~/images/books/(@book.BookId).jpg" alt="@book.Title" class="bookCover">
            </div>
            <div class="BookInfo">
                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId">@book.Title</a> <br/>
                Genre: @book.Genre <br/>
                Author: @book.Author <br/>
                <p class="bookPrice">@book.Price Kr</p>
            </div>
            <div class="addToButtons">
                <button type="button" class="cartButton">Add to Cart</button>
                <br/>
                <button type="button" class="wishListButton">Add to WishList</button>
            </div>
        </div>
    }
</div>
</div>

<h2>TOP 10 AUTHORS</h2>
<div>

</div>